.fontMain {
  font-size: 6rem;
  margin: 0;
  line-height: 6rem;
}
.fontMainSecondary {
  font-size: 4rem;
  margin: 0;
  line-height: 6rem;
}
.fontSecondary {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 2rem;
}
.gridElement {
  align-items: center;
  padding-top: 1rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  flex-basis: 70%;
}
@media screen and (max-width: 1400px) {
  .gridElement {
    justify-content: center;
    padding: 1rem;
  }
}
@media screen and (max-width: 1440px) {
  .gridElement {
    justify-content: center;
    padding: 1rem;
    max-width: 80%;
    flex-basis: 80%;
  }
}
.flexColumn {
  width: 100%;
  min-height: 640px;
  min-width: 800;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 524px) {
  .gridElement {
    padding: 1rem;
  }
  .fontMain {
    font-size: 4rem;
    text-align: center;
  }
  .fontSecondary {
    text-align: center;
  }
  .gridElement {
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
  .flexColumn {
    align-items: center;
    width: 100%;
  }
  /* h3 {
    text-align: center;
  } */
}

.buttonCustom {
  font-family: var(--inter-font);
  margin-top: 1rem;
  font-size: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  padding: 0;
  background-color: #2269f8;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  -webkit-box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
}
.divider {
  height: 10px;
  width: 100%;
  background-color: #2269f8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.image {
  padding: 0;
  align-items: center;
  padding-top: 1rem;
  flex-grow: 0;
  display: inherit;
  max-width: 50%;
  flex-basis: 50%;
  background-image: url("tonyield-app-mockup.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1400px) {
  .image {
    display: none;
    background-image: none;
  }
}
.img {
  aspect-ratio: attr(width) / attr(height);
}
.h2 {
  margin: 0;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.h3 {
  margin: 0;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}
.h4 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
