.mainContainer {
  min-height: 50vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100%;
  overflow: hidden;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.h2 {
  font-weight: 700;
  font-size: 3rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0;
  display: inherit;
  max-width: 33.3333%;
  flex-basis: 33.3333%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.5rem;
}
@media screen and (max-width: 524px) {
  .card {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.cardInner {
  padding: 1.875rem;
  height: 15rem;
  justify-content: space-evenly;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -16px rgba(66, 68, 90, 1);
}
.h2 {
  margin: 0;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.h3 {
  margin: 0;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}
.h4 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
